.wrapper {
  background-color: #ffffff;
  height: 80px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin: 0 auto;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--grey);
  background-color: var(--lightgrey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

.webstudio-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.without-underline {
  text-decoration: none;
}
.blue-text {
  color: #2196f3
}
.nav-links {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
  color: #212121;

}
.nav-links:hover {
  color: #2196f3
}
.nav-links:focus {
  color: #2196f3
}
.contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  flex-direction: row;
  align-items: left;
}
.contacts:hover {
  color: #2196f3
}
.contacts:focus {
  color: #2196f3
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-service-ordering {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  display: flex;
  margin: 350px 700px 200px 700px;
  padding: 10px 41px 10px 42px;
}
h4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase color #212121;
}
h5 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 18px;
  line-height: 36px;
}
.portfolio-type {
  font-family: 'Roboto';
  font-style: Regular;
  font-size: 16px;
  Line-height: 30px;
}
.portfolio-button {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  border: 0em;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio-button:hover {
  background-color: #2196F3;
  color: #ffffff
}
.buttons-style{
  list-style: none;
}