/*.wrapper {
  background-color: #ffffff;
  height: 80px;
  width: 1600px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  margin: 0 auto;
}*/
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #E5E5E5;
}
header {
  background-color: #FFFFFF;
}
.title-background {
  background-color: #2F303A;
}
.webstudio-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.webstudio-logo-footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
}
.without-underline {
  text-decoration: none;
}
.blue-text {
  color: #2196f3
}
.nav-links {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
  color: #212121;

}
.nav-links:hover {
  color: #2196f3;
  text-decoration: underline;
}
.nav-links:focus {
  color: #2196f3
}
.contacts {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  align-items: left;
}
.contacts:hover {
  color: #2196f3;
  text-decoration: underline;
}
.contacts:focus {
  color: #2196f3
}
address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF99;
  text-decoration: none;
}
h1 {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
h2 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 36px;
  line-height: 1.17;
}
footer {
  background-color: #2F303A;
}
.button-service-ordering {
  background-color: #2196f3;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  display: flex;
  cursor: pointer;
  
}
h4 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
}
h5 {
  font-family: 'Roboto';
  font-style: bold;
  font-size: 18px;
  line-height: 2;
}
.profession {
  font-size:16px;
  line-height: 1.19;
  color: #757575;
}
.description {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}
.portfolio-type {
  font-family: 'Roboto';
  font-size: 16px;
  Line-height: 1.87;
}
.portfolio-button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  text-decoration: none;
  border: 0em;
  background-color: #F5F4FA;
  color: #212121;
}

.portfolio-button:hover {
  background-color: #2196F3;
  color: #ffffff
}
.no-dots-list{
  list-style: none;
}